/crash-reports/
/logs/
/config/
/mods/
/resourcepacks/
/saves/
/options.txt
/usernamecache.json
eclipse/banned-ips.json
eclipse/banned-players.json
eclipse/eula.txt
eclipse/ops.json
eclipse/screenshots/
eclipse/server.properties
eclipse/servers.dat
eclipse/usercache.json
eclipse/whitelist.json
eclipse/world/
